@-webkit-keyframes animation-pulse-shrink {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.7);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes animation-pulse-shrink {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.7);
	}
	100% {
		transform: scale(1);
	}
}
